<%- include('../header') %>

<h3 class="mt-4">Nova Publicação</h3>

<form class="mt-4" action="/publicacoes/nova" method="post">
  <div class="form-group">
    <label for="titulo">Titulo</label>
    <input class="form-control" type="text" id="titulo" name="titulo" placeholder="Insira o titulo">
  </div>
  <div class="form-group">
      <label for="categoria">Categoria</label>
      <select class="form-control" id="categoria" name="categoria">
        <% categorias.forEach( categoria => { %>
        <option value="<%= categoria.id %>"><%= categoria.categoria %></option>
        <% }) %>
      </select>
    </div>
  <div class="form-group">
      <label for="conteudo">Conteúdo</label>
      <textarea class="form-control" type="text" id="conteudo" name="conteudo" placeholder="Insira o conteúdo da publicação"></textarea>
    </div>
  <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</button>
  <a href="/categorias" class="btn btn-danger"><i class="fas fa-times"></i> Cancelar</a>
</form>

<%- include('../footer') %>